.Reviews img{
height: 50px;
width: 50px;
border-radius: 50px;
}
.Reviews {
    width: 300px;
border-bottom: 1px solid black;
border-right: 1px solid black; }
.Reviews span{
    border-bottom: 1px solid black;
}
.Reviewsprops{
    display: flex;
    justify-content: space-evenly;
}
.Reviewsprops-main{
    background-color: lightsteelblue;
    padding-bottom: 20px;
}
.Reviewsprops-main h1{
    text-align: center;
}